*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: coral;

}

.logotipo{
    display: flex;
    height: 50px;
    font-family: serif;
    border: none;
    text-align: center;
    font-style: oblique;
    flex-direction: initial;
}

a{
    text-decoration: none;
    color: white;
    box-shadow: none;
    font-family: serif;
    font-size: large;
    text-align: justify;
    border: none;
}

button{
    height: 80px;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: 1s;
}

footer{
    background-color: coral;
}
.color{
    color: black;
}

.tittle{
    text-align: center;
    font-family: serif;
    height: 70px;
    font-weight: 50px;
}

.parrafo2{
    text-align: center;
    height: 32px;
}

.clase{
    text-align: center;
    font-family: serif;
}

.imagenclass{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.videomarroqui{
    display: block;
    margin-left: auto;
    margin-right: auto;
}